#clock {
}

#clock img {
}

#hour {
  transform: rotate(60deg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#minute {
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#second {
  transform: rotate(7deg);
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
