.clockFace {
}

#clock {
}

#second {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#secondHand {

}

#minuteHand {

}

#hourHand {
  
}

#minute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


#hour {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}


